name: I14Y Harvester OGD canton Basel-Landschaft catalogue PROD

on:
  schedule:
    - cron: "0 1 * * 1-5" # Runs everyday at 1AM (but not on weekends)
  workflow_dispatch: # Allows manual triggering

jobs:
  harvest-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run harvester script
        env:
          CLIENT_KEY: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          GET_TOKEN_URL: "https://identity.i14y.c.bfs.admin.ch/realms/bfs-sis-p/protocol/openid-connect/token"
          API_BASE_URL: "https://api.i14y.admin.ch/api/partner/v1"
          IMPORT_STRUCTURES: "False"
        run: python src/harvester.py

      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: harvest_log
          path: harvest_log.txt

      - name: Upload structure log
        uses: actions/upload-artifact@v4
        with:
          name: structure_import_log
          path: structure_import_log.txt

      - name: Upload updated data
        uses: actions/upload-artifact@v4
        with:
          name: datasets
          path: OGD_BL/data/datasets.json
          retention-days: 2
